.preferences-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  min-height: 52px;
  background: url(../images/linphone-32x32.png) center center no-repeat;
}

.preferences .palm-row .palm-row-wrapper {
    position: relative;
}
.preferences .palm-row .palm-row-wrapper:not(.textfield-group) {
    min-height: 53px;
}
.preferences .palm-row .palm-row-wrapper.textfield-group {
    min-height: 23px;
}
